<h1>Buttons</h1>

<p class="intro">
    Use buttons to guide users towards completing a task.
    They should include text that describes the action they perform.
</p>

<ol>
    <li><a href="#anchor1">Primary button</a></li>
    <li><a href="#anchor2">Secondary button</a></li>
</ol>

<h3 id="anchor1">1. Primary button</h3>

<p>Try to restrict primary buttons to only one per page.</p>

<h6>Action button</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'primary-action' }) %>
    <section>
        <div class="tab1 component-example">
            <button>
                <p>Pay now</p>
            </button>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-button
                        [label]="'Pay now'"
                        [isSecondary]="false"
                        [onClick]="logClick"
                &gt;
                &lt;/app-button&gt;
            </code>
        </div>
    </section>
</div>

<h6>Icon button</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'primary-icon' }) %>
    <section>
        <div class="tab1 component-example">
            <button class="primary icon">
                <p>Open folder</p>
                <i class="far fa-folder-open"></i>
            </button>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-button
                [label]="'Open folder'"
                [icon]="'fa-folder'"
                [isSecondary]="false"
                [onClick]="logClick"
                &gt;
                &lt;/app-button&gt;
            </code>
        </div>
    </section>
</div>

<h6>Progress button</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'primary-icon-two' }) %>
    <section>
        <div class="tab1 component-example">
            <button class="primary icon">
                <p>Next</p>
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-button
                [label]="'Open folder'"
                [icon]="'fa-folder'"
                [isSecondary]="false"
                [onClick]="logClick"
                &gt;
                &lt;/app-button&gt;
            </code>
        </div>
    </section>
</div>

<h3 id="anchor2">2. Secondary button</h3>

<p>Use secondary buttons for more minor interactions, or if you need multiple buttons on a single page.</p>

<h6>Action button</h6>
<div class="tab-set">
        <%- partial('../../_partials/tabs', { id: 'secondary-button' }) %>
    <section>
        <div class="tab1 component-example">
            <button class="secondary">
                <p>Skip this step</p>
            </button>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-button
                [label]="Pay now"
                [isSecondary]="true"
                [onClick]="logClick"
                &gt;
                &lt;/app-button&gt;
            </code>
        </div>
    </section>
</div>

<h6>Icon button</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'secondary-icon' }) %>
    <section>
        <div class="tab1 component-example">
            <button class="secondary icon">
                <p>Open folder</p>
                <i class="far fa-folder-open"></i>
            </button>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-button
                [label]="'Open folder'"
                [icon]="'fa-folder'"
                [isSecondary]="true"
                [onClick]="logClick"
                &gt;
                &lt;/app-button&gt;
            </code>
        </div>
    </section>
</div>

<h6>Progress button</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'secondary-icon-two' }) %>
    <section>
        <div class="tab1 component-example">
            <button class="secondary icon">
                <p>Open folder</p>
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-button
                [label]="'Open folder'"
                [icon]="'fa-folder'"
                [isSecondary]="true"
                [onClick]="logClick"
                &gt;
                &lt;/app-button&gt;
            </code>
        </div>
    </section>
</div>
