<h1>Forms</h1>

<p class="intro">
    Use form elements to obtain user input.
    They should include text that describes the action they perform.
</p>

<ol>
    <li><a href="#anchor1">Text Input</a></li>
    <li><a href="#anchor2">Text Area</a></li>
    <li><a href="#anchor3">Dropdown</a></li>
    <li><a href="#anchor4">Radio Buttons</a></li>
    <li><a href="#anchor5">Checkbox</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Text Input</h3>

<p>Size input fields to the text that needs to go in them. Don't make them too long or too short.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'text-input' }) %>
    <%- partial('../../_partials/inputtext', { id: 'text-input-component' }) %>
</div>

<h6>Disabled</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'text-disabled' }) %>
    <%- partial('../../_partials/inputtext-disabled', { id: 'text-input-disabled' }) %>
</div>

<h6>Validated</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'text-validated' }) %>
    <%- partial('../../_partials/inputtext-validated', { id: 'text-input-validated' }) %>
</div>

<h6>Validation error</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'text-invalid' }) %>
    <%- partial('../../_partials/inputtext-invalid', { id: 'text-input-invalid' }) %>
</div>

<h3 id="anchor2">2. Text Area</h3>

<p>Use a text area when the user is expected to enter in a larger amount of text.</p>

<h6>Standard textarea</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'textarea-input' }) %>
    <%- partial('../../_partials/textarea', { id: 'text-area-component' }) %>
</div>

<h3 id="anchor3">3. Dropdown</h3>

<p>Use dropdowns to contain large numbers of options or when space is at a premium.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'select-input' }) %>
    <%- partial('../../_partials/select', { id: 'select-dropdown' }) %>
</div>

<h3 id="anchor4">4. Radio Buttons</h3>

<p>Use radio buttons for simple questions with only two or three options.</p>

<h6>Linear</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'radio-linear-input' }) %>
    <%- partial('../../_partials/radio-linear', { id: 'radio-linear' }) %>
</div>

<h6>Stacked</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'radio-stacked-input' }) %>
    <%- partial('../../_partials/radio-stacked', { id: 'radio-stacked' }) %>
</div>

<h3 id="anchor5">5. Select box</h3>

<p>Use select boxes to allow users to select more than one option from a small group, or for opt in/out questions.</p>

<h6>Stacked</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'checkbox-input-stacked' }) %>
    <%- partial('../../_partials/checkbox-stacked', { id: 'checkbox-stacked' }) %>
</div>

<h6>Single checkbox</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'checkbox-input-single' }) %>
    <%- partial('../../_partials/checkbox-single', { id: 'checkbox-single' }) %>
</div>
