<style>
    /* don't show the backdrop for the example menu */
    main .backdrop {
        visibility: hidden;
    }
</style>

<h1>Navigation</h1>

<p class="intro">
    Use navigation to direct the user to products and services.
</p>

<ol>
    <li><a href="#anchor1">Primary navigation</a></li>
    <li><a href="#anchor2">Secondary navigation</a></li>
    <li><a href="#anchor3">Breadcrumbs</a></li>
    <li><a href="#anchor4">Sidebar navigation</a></li>
    <li><a href="#anchor5">Tabs</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Primary navigation</h3>

<p>Use the primary navigation full width to highlight the top level navgigation.
    On hover it should reveal the child pages related to it.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'primary' }) %>
    <section>
        <div class="tab1 component-example">
            <header>
                <h1><a href="/">Site Name</a></h1>
                <nav id="main-menu">

                    <div>
                        <a href="#main-menu-toggle" id="main-menu-close" class="menu-close" aria-label="Close main menu">
                            <span class="sr-only">Close main menu</span>
                            <span class="fa fa-times"></span>
                        </a>
                    </div>

                    <ul>
                        <li tabindex="0">
                            <a tabindex="-1" href="/section1/">Section 1</a>
                            <section>
                                <section>
                                    <h2><a href="/section1/subsection-a/">Subsection 1A</a></h2>
                                    <ul>
                                        <li>
                                            <a href="/section1/subsection-a/page1a1.html">Page 1A1</a>
                                        </li>
                                    </ul>
                                </section>
                                <section>
                                    <h2><a href="/section1/subsection-b/">Subsection 1B</a></h2>
                                    <ul>
                                        <li>
                                            <a href="/section1/subsection-b/page1b1">Page 1B1</a>
                                        </li>
                                    </ul>
                                </section>
                                <section>
                                    <h2><a href="/section1/subsection-c/">Subsection 1C</a></h2>
                                    <ul>
                                        <li>
                                            <a href="/section1/subsection-c/page1c1.html">Page 1C1</a>
                                        </li>
                                        <li>
                                            <a href="/section1/subsection-c/page1c2.html">Page 1C2</a>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </li>

                        <li tabindex="0" class="active">
                            <a tabindex="-1" href="/section2/">Section 2</a>
                            <section>
                                <section>
                                    <h2><a href="/section2/etc/">Etc...</a></h2>
                                    <ul>
                                        <li>
                                            <a href="/section2/etc/etc">Etc...</a>
                                        </li>
                                    </ul>
                                </section>
                                <section>
                                    <h2><a href="/section2/etc/">Etc...</a></h2>
                                    <ul>
                                        <li>
                                            <a href="/section2/etc/etc">Etc.</a>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </li>

                        <li tabindex="0">
                            <a tabindex="-1" href="/section3/">Section 3</a>
                            <section>
                                <section>
                                    <h2><a href="/section3/etc">Etc...</a></h2>
                                    <ul>
                                        <li>
                                            <a href="/section3/etc/etc">Etc...</a>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </li>

                    </ul>
                </nav>

                <a id="backdrop"
                   href="#main-menu-toggle"
                   class="backdrop"
                   tabindex="-1"
                   aria-hidden="true" hidden>
                </a>

                <div class="menu-toggle-wrapper">
                    <a href="#main-menu" id="main-menu-toggle" class="menu-toggle">
                        <span class="sr-only">Open main menu</span>
                        <span class="fa fa-bars" aria-hidden="true"></span>
                    </a>
                </div>
            </header>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Navigation object:</h5>
            <pre>
                <code class="language-javascript">
const navigation = {
                    heading: 'Site Name',
                    sections: [
        {
            title: 'Section 1',
            href: '/section1/',
            subSections: [
                    {
                    title: 'Subsection 1A',
                    href: '/section1/subsection-a',
                    items: [
                        { label: 'Page 1A1', href: '/section1/subsection-a/page1a1.html' },
                    ]
                },
                    {
                    title: 'Subsection 1B',
                    href: '/section1/subsection-b/',
                    items: [
                        { label: 'Page 1B1', href: '/section1/subsection-b/page1b1.html' },
                    ]
                },
                    {
                    title: 'Subsection 1C',
                    href: '/section1/subsection-c/',
                    items: [
                        { label: 'Page 1C1', href: '/section1/subsection-c/page1c1.html' },
                        { label: 'Page 1C2', href: '/section1/subsection-c/page1c2.html' },
                    ]
                },
            ]
        },
        {
            title: 'Section 2',
            href: '/section2/',
            subSections: [
                    {
                    title: 'Etc...',
                    href: '/section2/etc/',
                    items: [
                        { label: 'Etc...', href: '/section2/etc/etc' },
                    ]
                },
                    {
                    title: 'Etc',
                    href: '/section2/etc/',
                    items: [
                        { label: 'Etc...', href: '/section2/etc/etc' },
                    ]
                },
            ]
        },
        {
            title: 'Section 3',
            href: '/section3/',
            subSections: [
                    {
                    title: 'Etc...',
                    href: '/section3/etc/',
                    items: [
                        { label: 'Etc...', href: '/section3/etc/etc' },
                    ]
                },
            ]
        },
    ]
}
                </code>
            </pre>
            <h5>Angular example usage:</h5>
            <pre>
            <code class="language-html">
 &lt;app-navigation [navigation]="navigation"&gt;&lt;/app-navigation&gt;
           </code>
            </pre>
        </div>
    </section>
</div>

<p></p>

<h3 id="anchor2">2. Secondary navigation</h3>

<p>Use the secondary navigation full width to highlight core products and services or to access login services.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'secondary' }) %>
    <section>
        <div class="tab1 component-example">
            <header class="example1-header">
                <nav id="top-menu">
                    <span><a href="#" class="example1-nav-text">Site name</a></span>
                    <div class="header-links-wrap">
                        <a href="#" class="example1-nav-text">Link one</a>
                        <a href="#" class="example1-nav-text">Link two</a>
                        <a href="#" class="example1-nav-text">Link three</a>
                    </div>
                </nav>
            </header>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;section class=&quot;card&quot;&gt;
                &lt;h6 *ngIf=&quot;title&quot;&gt;Contact details&lt;/h6&gt;
                &lt;div&gt;
                &lt;ng-content&gt;
                &lt;form&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;First name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Last name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Email address&quot;/&gt;&lt;br&gt;
                &lt;/form&gt;
                &lt;/ng-content&gt;
                &lt;/div&gt;
                &lt;/section&gt;
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">import {Component, Input, OnInit} from '@angular/core';

@Component({
                    selector: 'app-card',
                    templateUrl: './card.component.html',
                    styleUrls: ['./card.component.scss']
})
export class ExpansionComponent implements OnInit {
                    @Input() public title = '';

                    constructor() { }

  ngOnInit() {
  }

}
                </code>
            </pre>
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">&lt;section class=&quot;card&quot;&gt;
  &lt;h6 *ngIf=&quot;title&quot;&gt;{{ title }}&lt;/h6&gt;
  &lt;div&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/section&gt;
                </code>
            </pre>
        </div>
    </section>
</div>

<p></p>

<h3 id="anchor3">3. Breadcrumbs</h3>

<p>Use breadcrumbs on screen sizes down to 1024 pixels wide to show the user the site architecture</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'breadcrumbs' }) %>
    <section>
        <div class="tab1 component-example">
            <ul class="breadcrumbs">
                <li><a href="/">Homepage</a></li>

                <li><a href="/section1/">Section 1</a></li>

                <li><a href="/section1/item2/">Item 2</a></li>

                <li><a href="/section1/item2/page">Current page</a></li>

            </ul>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;section class=&quot;card&quot;&gt;
                &lt;h6 *ngIf=&quot;title&quot;&gt;Contact details&lt;/h6&gt;
                &lt;div&gt;
                &lt;ng-content&gt;
                &lt;form&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;First name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Last name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Email address&quot;/&gt;&lt;br&gt;
                &lt;/form&gt;
                &lt;/ng-content&gt;
                &lt;/div&gt;
                &lt;/section&gt;
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">import {Component, Input, OnInit} from '@angular/core';

@Component({
                    selector: 'app-card',
                    templateUrl: './card.component.html',
                    styleUrls: ['./card.component.scss']
})
export class ExpansionComponent implements OnInit {
                    @Input() public title = '';

                    constructor() { }

  ngOnInit() {
  }

}
                </code>
            </pre>
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">&lt;section class=&quot;card&quot;&gt;
  &lt;h6 *ngIf=&quot;title&quot;&gt;{{ title }}&lt;/h6&gt;
  &lt;div&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/section&gt;
                </code>
            </pre>
        </div>
    </section>
</div>

<p></p>

<h3 id="anchor4">4. Sidebar navigation</h3>

<p>Use the sidebar navigation to allow users to navigate to different sections, and pages within the current section.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'sidebar' }) %>
    <section>
        <div class="tab1 component-example">
            <div class="example-side-menu-wrap">
                <nav id="side-menu" aria-label="Submenu">
                    <section>
                        <h2><a href="/item1/">Item 1</a></h2>
                    </section>
                    <section class="active">
                        <h2><a href="/item2/">Item 2</a></h2>
                        <ul>
                            <li class="active">
                                <a href="/item2/page1">Page 1</a>
                            </li>
                            <li>
                                <a href="/item2/page2">Page 2</a>
                            </li>
                            <li>
                                <a href="/item2/page3">Page 3</a>
                            </li>
                            <li>
                                <a href="/item2/page4">Page 4</a>
                            </li>
                            <li>
                                <a href="/item2/page5">Page 5</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h2><a href="/item3/">Item 3</a></h2>
                    </section>
                </nav>
            </div>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;section class=&quot;card&quot;&gt;
                &lt;h6 *ngIf=&quot;title&quot;&gt;Contact details&lt;/h6&gt;
                &lt;div&gt;
                &lt;ng-content&gt;
                &lt;form&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;First name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Last name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Email address&quot;/&gt;&lt;br&gt;
                &lt;/form&gt;
                &lt;/ng-content&gt;
                &lt;/div&gt;
                &lt;/section&gt;
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">import {Component, Input, OnInit} from '@angular/core';

@Component({
                    selector: 'app-card',
                    templateUrl: './card.component.html',
                    styleUrls: ['./card.component.scss']
})
export class ExpansionComponent implements OnInit {
                    @Input() public title = '';

                    constructor() { }

  ngOnInit() {
  }

}
                </code>
            </pre>
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">&lt;section class=&quot;card&quot;&gt;
  &lt;h6 *ngIf=&quot;title&quot;&gt;{{ title }}&lt;/h6&gt;
  &lt;div&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/section&gt;
                </code>
            </pre>
        </div>
    </section>
</div>

<p></p>

<h3 id="anchor5">5. Tabs</h3>

<p>Use the sidebar navigation to allow users to navigate to different sections, and pages within the current section.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'tabs' }) %>
    <section>
        <div class="tab1 component-example">
            <div class="tab-set">
                <input class="tab1selector" type="radio" id="tab-id-tab1" name="tab-id" checked="checked">
                <input class="tab2selector" type="radio" id="tab-id-tab2" name="tab-id">
                <input class="tab3selector" type="radio" id="tab-id-tab3" name="tab-id">
                <!-- up to 10 tabs -->
                <nav>
                    <ul>
                        <li class="tab1">
                            <label for="tab-id-tab1">Tab 1</label>
                        </li>
                        <li class="tab2">
                            <label for="tab-id-tab2">Tab 2</label>
                        </li>

                        <li class="tab3">
                            <label for="tab-id-tab3">Tab 3</label>
                        </li>

                    </ul>
                </nav>
                <section>
                    <div class="tab1">
                        <p>Tab 1</p>
                    </div>
                    <div class="tab2">
                        <p>Tab 2</p>
                    </div>
                    <div class="tab3">
                        <p>Tab 3</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;section class=&quot;card&quot;&gt;
                &lt;h6 *ngIf=&quot;title&quot;&gt;Contact details&lt;/h6&gt;
                &lt;div&gt;
                &lt;ng-content&gt;
                &lt;form&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;First name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Last name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Email address&quot;/&gt;&lt;br&gt;
                &lt;/form&gt;
                &lt;/ng-content&gt;
                &lt;/div&gt;
                &lt;/section&gt;
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">import {Component, Input, OnInit} from '@angular/core';

@Component({
                    selector: 'app-card',
                    templateUrl: './card.component.html',
                    styleUrls: ['./card.component.scss']
})
export class ExpansionComponent implements OnInit {
                    @Input() public title = '';

                    constructor() { }

  ngOnInit() {
  }

}
                </code>
            </pre>
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">&lt;section class=&quot;card&quot;&gt;
  &lt;h6 *ngIf=&quot;title&quot;&gt;{{ title }}&lt;/h6&gt;
  &lt;div&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/section&gt;
                </code>
            </pre>
        </div>
    </section>
</div>
