<%
var slugs = url.split('/');
var folder = slugs[0];
var section = public[folder];
var sectionIndex = section._data.index;
var sectionTitle = sectionIndex.title;
var sectionMeta = section._data.meta;
var sectionHref = '/' + section._data.index.url;
%>

<nav id="side-menu" aria-label="Submenu">
    <%
    for (var idx2 = 0; idx2 < sectionMeta.folders.length; idx2++) {
        var subfolder = sectionMeta.folders[idx2];
        var subsection = section[subfolder];
        var subsectionIndex = subsection._data.index;
        if (!subsectionIndex) {
            console.error('Menu partial: No index page definition for subsection ' + JSON.stringify(subsection));
        }
        var subsectionTitle = subsectionIndex.title;
        var subsectionHref = '/' + subsectionIndex.url;

        var pages = [];
        for (var page in subsection._data) {
            if (!subsection._data.hasOwnProperty(page) || page === 'index' || page === 'meta') continue;
            var pageData = subsection._data[page];
            pages.push({
                name: page,
                title: pageData.title,
                order: pageData.order || 99,
                url: '/' + (pageData.url || (subsectionHref + '/' + page)) + '.html'
            });
        }
        if (pages.length > 0) {
            pages.sort(function(a, b) {
                return a.order - b.order;
            });
        %>
        <section class="<%= slugs.length > 1 && slugs[1] === subfolder ? 'active' : ''%>">
            <h2><a href="<%= subsectionHref %>"><%= subsectionTitle %></a></h2>
            <ul>
                <%
                for (var idx3 = 0; idx3 < pages.length; idx3++) {
                    var menuItem = pages[idx3];
                %>
                <li class="<%= slugs.length > 2 && slugs[2] === menuItem.name ? 'active' : ''%>">
                    <a href="<%= menuItem.url %>"><%= menuItem.title %></a>
                </li>
                <%
                }
                %>
            </ul>
        </section>
        <%
        }
        %>
    <%
    }
    %>
</nav>

