<%
var id = typeof id !== 'undefined' && id ? id : 'tabsetid';
var noNewWindow = typeof noNewWindow !== 'undefined' && noNewWindow;
%>

<input class="tab1selector" type="radio" id="<%= id %>-tab1" name="<%= id %>" checked="checked" />
<input class="tab2selector" type="radio" id="<%= id %>-tab2" name="<%= id %>" />
<input class="tab3selector" type="radio" id="<%= id %>-tab3" name="<%= id %>" />
<nav>
    <ul>
        <li class="tab1">
            <label for="<%= id %>-tab1">Example</label>
        </li>
        <li class="tab2">
            <label for="<%= id %>-tab2">HTML</label>
        </li>
        <% if (typeof noAngular === 'undefined' || !noAngular) { %>
        <li class="tab3">
            <label for="<%= id %>-tab3">Angular</label>
        </li>
        <% } %>
    </ul>
</nav>
