<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= typeof title !== 'undefined' && title ? title + ' - ' : '' %><%= siteName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/ukho.min.css">
    <link rel="stylesheet" href="/site-css/all.css">
    <link rel="stylesheet" href="/site-css/prism-coy.css">
</head>
<body>
    <%- partial("/_partials/header") %>
    <%- partial("/_partials/breadcrumbs") %>

    <main>
        <%- yield %>
    </main>

    <footer><%- footerText %></footer>

    <script src="/bundle.js"></script>
    <script src="/js/enhance.js"></script>
</body>
</html>
